{% extends 'base.html' %}
{% load static %}


{% block title %}
View Product
{% endblock title %}



{% block body %}

<div class="container">
    <div class="row">
        <div class="col-5 p-5">
            <img  style="height: 400px;" src="{{GetProduct.image.url}}" class="img-fluid img-thumbnail  " alt="Responsive image">
            </div>
        <div class="col-7 p-5">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Product Name:</th>
                        <td>{{GetProduct.name}}</td>
                    </tr>
                    <tr>
                        <th>Price:</th>
                        <td>{{GetProduct.price}}</td>
                    </tr>
                    <tr>
                        <th>Details:</th>
                        <td>{{GetProduct.detail}}%</td>
                    </tr>
                 
                    
                        
                      
                      
                </tbody>
                
            </table>
            <tr> 
                    
            {% if item_exist %}
               <td>
                 <a class="btn btn-secondary" href="/cart/"><strong>Go to Cart</strong></a>
               </td>
               {% else %}
               <td>
                 <a class="btn btn-warning" href="/addtocart/{{get_product.id}}/"><strong>Add to Cart</strong></a>
               </td>
               {% endif %}
               <td><a class="btn btn-primary" href="/allproducts/"><strong>Go to Shop</strong></a></td>
             </tr>
        </div>    
        </div>
        
    </div>

</div>



{% endblock body %}